<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapplication">
    <!-- Camera permission  IT19170176 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- External storage permission IT19170176-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  <uses-sdk tools:ooverrideLibrary="android_libs.ub_uiautomator"/>-->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registerview"></activity>
        <activity android:name=".Checkout" ></activity>
        <activity android:name=".BrandNewForm" ></activity>
        <activity android:name=".Homepage"><intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".ListCarViewCustomer" />
        <activity android:name=".UpdateACar" />
        <activity android:name=".AddNewCar" />
        <activity android:name=".ListCarView" />
        <activity android:name=".EditRecordActivity" />
        <activity android:name=".ShowRecords"/>
        <activity android:name=".AddRecordActivity" />
        <activity android:name=".register" />
        <activity android:name=".paymentview" />
        <activity android:name=".payment" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>